@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/***************下面的是header用********************** */
/* 让模糊效果在不同浏览器更一致 */
.backdrop-blur-lg {
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
}

/* 给 Header 下方增加一个极细的渐变边框，增加高级感 */
header {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.1), transparent);
}


@layer base {
    :root {
        --background: #ffffff;
        --foreground: #09090b; /* 极深灰，比纯黑更有质感 */
    }
    .dark {
        --background: #09090b;
        --foreground: #fafafa;
    }
}